body{
    background-color: rgb(233, 207, 220);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: rgb(148, 79, 132);
    font-size: 25px;
}
h2{
    color: rgb(190, 87, 166);
    font-size: 20px;

}
ul{
    color: rgb(95, 40, 82);
    font-size: 18px; 
}
h2:hover{
    color: blueviolet;
}